body {
  padding: 40px;
}

a {
  color: #0074AE;
  text-decoration: none;
}

a:visited {
  opacity: 0.85;
}

.no-touch a:hover {
  text-decoration: underline;
}

header h1 {
  color: #301f15;
  font-size: 8em;
  line-height: 1em;
  max-width: 960px;
}

header h1 a {
  color: #301f15;
}

header h2 {
  color: #301f15;
  margin: -3em 0 3em 1em;
}

time {
  color: #CABFB4;
  display: block;
  font-size: 1.2em;
  line-height: 1em;
  margin-top: 6em;
}

time+h1 {
  font-size: 6em;
  margin-top: 0.2em;
}

section#body {
  padding: 0 0 2em 0;
  font-size: 1.2em;
  line-height: 1.5em;
  max-width: 720px;
}

article li {
  color: #333;
  padding: 0.5em 1.25em;
}

article h3 {
  margin: 1.5em 0;
}

cite {
  color: #CABFB4;
  font-size: 0.75em;
  line-height: 1.5em;
}

.archives {
  list-style: none;
  max-width: 960px;
  padding: 0 1.5em;
}

.archives li {
  border-bottom: 1px solid #eee;
  padding: 0.2em 6em 0.2em 0;
  position: relative;
}
  
.archives .date {
  color: #CABFB4;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  right: 0;
  padding: 0.2em 0;
  position: absolute;
  text-transform: uppercase;
  top: 0.4em;
}

.date .month,
.date .day,
.date .year {
  display: inline-block;
  width: 2.5em;
}

.date .day,
.date .year {
  width: 1.5em;
}

footer {
  color: #444;
  border-top: 2px double #eee;
  margin-top: 10em;
  padding: 0 1em;
}

footer hgroup {
  border-bottom: 2px solid 000;
  left: 4em;
  max-width: 700px;
  padding-bottom: 1em;
  position: absolute;
  top: 1em;
  width: 82%;
}

footer h2 {
  color: #0074AE;
  font-size: 0.875em;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
}

footer h3 {
  margin: 0;
  font-size: 0.875em;
  font-weight: normal;
}

footer p {
  font-size: 0.875em;
  line-height: 1.5em;
  width: auto;
}