<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | DontTrustThisGuy.com</title>
    <meta name="description" content="The personal blog of Jim Jeffers.">
    <meta name="keywords"    content="Jim Jeffers, blog">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <link href="/stylesheets/normalize.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/feed" rel="alternate" type="application/atom+xml" />
    
    <script src="/javascripts/modernizr.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script> -->
    {% include analytics.html %}
    {% include typekit.html %}
  </head>

  <body id="content">
    {{ content }}  
    
    <footer>
      <p><a href="http://donttrustthisguy.com">DontTrustThisGuy.com</a> is authored by Jim Jeffers, a twenty-something web consultant currently residing in Phoenix, AZ. You will find random ramblings, discussions on web technologies, user interface design, programming, business, politics, and anything else that crosses his mind here.</p>
      <p>All content and images &copy; 2005-2012 <a href="http://jimjeffers.com">Jim Jeffers</a>.</p>
    </footer>
    
    <script src="/javascripts/application.js"></script>
  </body>
</html>
