---
layout: default
---

<article class="post">
  <a href="/" title="Return to the table of contents." id="table_of_contents"><img src="/images/icon_table_of_contents.svg" height="85" width="85"></a>

  <header>
      <time datetime="{{ page.date | date:'%Y-%m-%d' }}" pubdate="pubdate">{{ page.date | date:"%B %d, %Y" }}</time>
      <h1><a href="{{ page.permalink }}" title="Permalink for {{ page.title }}">{{ page.title }}</a></h1>
  </header>

  <section id="body">
    {{ content }}
  </section>

  <footer>
    <p><a href="http://donttrustthisguy.com">DontTrustThisGuy.com</a> is authored by Jim Jeffers, a twenty-something web consultant currently residing in Phoenix, AZ. You will find random ramblings, discussions on web technologies, user interface design, programming, business, politics, and anything else that crosses his mind here.</p>
    <p>All content and images &copy; 2005-2013 <a href="http://jimjeffers.com">Jim Jeffers</a>.</p>
  </footer>
</article>

<nav id="posts_nav">
  <ul>
    {% if page.previous %}
    <li id="previous"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}"><img src="/images/icon_previous.svg" height="85" width="85"></a></li>
    {% else %}
    <li id="previous"><a href="/" title="Table of Contents"><img src="/images/icon_previous.svg" height="85" width="85"></a></li>
    {% endif %}
    {% if page.next %}
    <li id="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}"><img src="/images/icon_next.svg" height="85" width="85"></a></li>
    {% else %}
    <li id="next"><a href="/" title="Table of Contents"><img src="/images/icon_next.svg" height="85" width="85"></a></li>
    {% endif %}
  </ul>
</nav>
